span {
    font-weight: bolder;
}

.input-ricky {
    width: 70%;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: 4rem;
}

.main-ricky {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.main-ricky .card-ricky{
    background-color: wheat;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.card-ricky{
    width: 350px;
    height: 600px;
    background-color: wheat;
    list-style-type: none;
    border-radius: 10px;
    color:#4f2158;
}

.card-ricky img {
    width: 300px;
    height: 340px;
    padding: 20px;
    border-radius: 50px;
}

.card-ricky h2 {
    font-weight: bolder;   
    font-size: 25px;
}

.infos{
    text-align: left;
    margin-left: 5%;
}

.infos p {
    margin: 2%;
}

